%br
.ui.center.aligned.grid
  .row
    %h2.ui.dividing.black.header Информация о товаре
  .nine.wide.column.grid

    .ui.form
      = simple_form_for(@item, remote: true) do |f|
        .field
          .fields
            .eight.wide.field
              = f.input :name, label:'Название'
            .four.wide.field
              = f.input :sale_price_cents, label:'Цена'
            .four.wide.field
              = f.input :photo, label:'Фотография'
          %label Краткое описание
          = f.text_area :short_description, label:'Краткое описание ', rows: 2
          %label Полное описание
          = f.text_area :full_description, label:'Полное Описание', class:'tinymce', rows: 9
          = tinymce
          %br
          = f.button :submit, class:'ui button green'
