.card{id: "item-#{item_card.id}"}
  .image
    = image_tag(item_card.photo.url) if item_card.photo?
    - if can? :edit, item_card
      .ui.top.right.attached.label
        .ui.icon.dropdown
          %i.wrench.icon
          .menu
            = link_to 'Редактировать', edit_item_path(item_card), class:'item'
            = link_to 'Удалить', item_path(item_card), method: :delete, remote: true, class: 'item destroy_remote'
  .content
    = link_to(item_card.name, item_path(item_card), class: 'header')
    -#.meta
    -#  %span.date Created in Sep 2014
    .description
      %p= item_card.short_description.truncate_words(10).html_safe
      - if item_card.discount_percent.present?
        %h4
          %s= humanized_money_with_symbol(item_card.sale_price)
          .ui.green.label= humanized_money_with_symbol(item_card.price_with_discount)
      - else
        %h4.ui.green.label= humanized_money_with_symbol(item_card.sale_price)

  - if @current_order.present? and @current_order.items.where(id: item_card.id).present?
    .ui.one.bottom.attached.buttons
      = link_to('Товар в корзине', order_path(@current_order), class: 'ui basic green button', data: { 'add-to-order': true })
  - else
    .ui.two.bottom.attached.buttons{data: {'class-binder': 'OrderButtons', 'item-id': item_card.id}}
      = link_to('Добавить в корзину', 'javascript:void(0)', class: 'ui basic green button', data: { 'add-to-order': true })
      = link_to('Купить сейчас', 'javascript:void(0)', class: 'ui basic orange button', data: { 'add-to-order-and-buy': true })
