.item
  .image
    = image_tag(items_order.item.photo.url)
  .content
    = link_to(items_order.item.name, item_path(items_order.item), class: 'ui left aligned header')
    = link_to(items_order_path(items_order), method: :delete, remote: true, class: 'ui right floated') do
      %i.trash.alternate.outline.icon.red
    .meta
      %span.cinema
        = ['Артикль:', items_order.item.article].join(' ')
    .description
      %p= items_order.item.short_description
    .extra
      %h3.ui.header.green.right.floated
        - if items_order.item.discount_percent.present?
          .content
            = humanized_money_with_symbol(items_order.item.price_with_discount)
            .sub.header
              %s.red= humanized_money_with_symbol(items_order.item.sale_price)
        - else
          = humanized_money_with_symbol(items_order.item.sale_price)
      - items_order.item.categories.each do |category|
        = link_to(category.name, category_items_path(category), class: 'ui label')