.ui.middle.aligned.center.aligned.grid
  .column
    %h2.ui.teal.image.header
      .content
        Log-in to your account
    = form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'ui large form' }) do |f|
      .ui.stacked.segment
        .input-field
          = f.label :email
          = f.email_field :email, autofocus: true
        .input-field
          = f.label :password
          = f.password_field :password, autocomplete: 'off'

        - if devise_mapping.rememberable?
          = f.check_box :remember_me
          = f.label :remember_me
        = f.submit 'Log in', class: 'waves-effect waves-light btn right'
    %br
    = render 'devise/shared/links'
    %br


-#.column
-#  %h2.ui.teal.image.header
-#    %img.image{:src => "assets/images/logo.png"}/
-#    .content
-#      Log-in to your account
-#  %form.ui.large.form
-#    .ui.stacked.segment
-#      .field
-#        .ui.left.icon.input
-#          %i.user.icon
-#          %input{:name => "email", :placeholder => "E-mail address", :type => "text"}/
-#      .field
-#        .ui.left.icon.input
-#          %i.lock.icon
-#          %input{:name => "password", :placeholder => "Password", :type => "password"}/
-#      .ui.fluid.large.teal.submit.button Login
-#    .ui.error.message
-#  .ui.message
-#    New to us?
-#    %a{:href => "#"} Sign Up