.swiper-container
  .swiper-wrapper
    .swiper-slide{style: "background-image: url(#{@item.photo.url});"}
    - @item.attachments.each do |attachment|
      .swiper-slide{style: "background-image: url(#{attachment.attach.url});"}
  .swiper-pagination
  .swiper-button-prev
  .swiper-button-next

.ui.container
  %br
  %h2.ui.dividing.header= @item.name

  .ui.grid
    .ten.wide.column
      = @item.full_description.html_safe
    .six.wide.column.right.aligned
      %h2.ui.header.green
        - if @item.discount_percent.present?
          .content
            = humanized_money_with_symbol(@item.price_with_discount)
            .sub.header
              %s.red= humanized_money_with_symbol(@item.sale_price)
        - else
          = humanized_money_with_symbol(@item.sale_price)

      - if @current_order.present? and @current_order.items.where(id: @item.id).present?
        = link_to('Товар в корзине', order_path(@current_order), class: 'ui basic green button', data: { 'add-to-order': true })
      - else
        %div{data: {'class-binder': 'OrderButtons', 'item-id': @item.id}}
          = link_to('Добавить в корзину', 'javascript:void(0)', class: 'ui basic green button', data: { 'add-to-order': true })
          = link_to('Купить сейчас', 'javascript:void(0)', class: 'ui basic orange button', data: { 'add-to-order-and-buy': true })


