.swiper-container
  .swiper-wrapper
    .swiper-slide{style: "background-image: url(#{@item.photo.url});"}
    - @item.attachments.each do |attachment|
      .swiper-slide{style: "background-image: url(#{attachment.attach.url});"}
  .swiper-pagination
  .swiper-button-prev
  .swiper-button-next

.ui.container
  %br
  %h2.ui.dividing.header= @item.name

  .ui.grid
    .ten.wide.column
      = @item.description
    .six.wide.column.right.aligned
      %h2.ui.header.green
        - if @item.discount_percent.present?
          .content
            = humanized_money_with_symbol(@item.price_with_discount)
            .sub.header
              %s.red= humanized_money_with_symbol(@item.sale_price)
        - else
          = humanized_money_with_symbol(@item.sale_price)

      .ui.basic.green.button Добавить в корзину
      .ui.basic.orange.button Купить сейчас

